body{
	background: white;
	width: 100%;
	height: 100%;
}
.Logo{
	width: 100%;
	height: 85px;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-weight: 400px;
	padding-left:25%;
	height: 90px;
	background:#5b6169; 
}
.Logo h3{
	background: linear-gradient(white 70% , grey);
	font-size: 18px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-top:2%;
	margin-bottom:5px;
}
.Logo h5{
	background: linear-gradient(white 60% , grey);
	font-size: 14px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.container-fluid{
	padding: 0px;
}
.carousel-inner img{
	height: 400px;
	width: 100%;
}

.carousel-indicators{
	padding-left: 60%;
} 
.carousel-indicators li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
.carousel-indicators .active{
	background:#3674ba;
}
.carousel-caption{
	padding-left: 36%;
	padding-bottom: 7%;
	text-align: left;
}
.carousel-caption h1{
	width: 550px
}
.carousel-caption p{
	color: #335565;
	width: 400px;
}
.carousel-caption button{
	background: #74abda;
	color: white;
	width: 170px;
	height: 40px;
	border: 0px;
}
.container{
	padding: 0px;
}
.title {
	padding-top: 1.5%;
	overflow: hidden;
	text-align: center;
}
.title span {
	display: inline-block;
	vertical-align: middle;
	font-size: 45px;
	font-family: 'Open Sans', sans-serif;
}
.title:before,
.title:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	height: 2px;
	background-color: grey;
	position: relative;
}
.title:before {
	margin-left: -100%;
	left: -14px;
}
.title:after {
	margin-right: -100%;
	right: -14px;
}
.Windows,
.Android,
.Apple{
	text-align: center;
	display: inline-block;
	margin-left: 3%;
}
.Windows h2,
.Android h2,
.Apple h2{
	font-family: 'Open Sans', sans-serif;
	color:#3674ba;
	margin-bottom: 1%;
}
.Windows button,
.Android button,
.Apple button{
	width: 125px;
	height: 30px;
	color:white;
	background: #3674ba;
	border: 0px;
	margin-bottom: 3%;
}
.Windows img,
.Android img,
.Apple img{
	width: 90px;
	height: 90px;
	margin-bottom: 2%;
}
.Windows p,
.Android p,
.Apple p{

	text-align: center;
	width: 300px;
}
.About{
	margin-top: 2%;
	padding-top: -2%;
	width: 100%;
	height: 620px;
	background:#d1d1d1;
	text-align: center;
}
.About span{
	color:#5b6169;
}
.Text{
	padding-left:30%;
}
.Text h2{

	text-align: left;
	font-size: 36px;
	color:#7c7c7c;

}
.Text p{	
	text-align: left;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	width: 400px;
	font-size: 14px;
	margin:0px;
}
.Map{
display: block;
}
.Map img{
	width: 450px;
	height: 155px;
}

.progress-bar{
	text-align: left;
	padding-left: 1%;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 14px;
	height: 30px;

}
.progress{
	padding-bottom: 3.2%;
	width: 460px;
	margin-left:30%;
	margin-bottom: 10px;
	height:30px;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0rem;
	float: left;
}
.butt{
	position: relative;
	margin-left: 63%;
	height: 40px;
	border-radius:0px;
	background-color: #3674ba;
	border-color: #3674ba;
	-webkit-text-fill-color: white; 
	width:20%;
	padding: .375rem .75rem;
	position:relative;
	top:-51px;
}
.footer{
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-size:12px;
	width: 100%;
	height: 50px;
	margin-top: 2%;
	text-align: center;
}
h4{
	color:#3674ba;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	margin-left:-28%;	
}
input{
	width:461px;
	height: 28px;
	margin: 5px 0px;
}
textarea{
	width:460px;
	height:110px;
	resize: none;
}
