.Logo{
	width: 100%;
	height: 85%;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	font-weight: 400px;
	padding-left:25%;
	padding-bottom: 1%;
	background:#5b6169; 
}
.Logo h4{
	background: linear-gradient(white 70% , grey);
	font-size: 18px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-top:2%;
	margin-bottom:5px;
}
.Logo h5{
	background: linear-gradient(white 60% , grey);
	font-size: 14px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.carousel-item img{
	width: 100%;
	height: 40%;
}

.carousel-indicators{
	padding-left: 60%;
} 
.carousel-indicators li{
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
.carousel-indicators .active{
	background:#3674ba;
}
.carousel-caption{
	padding-left: 35%;
	height: 68%;
	text-align: left;
}
.carousel-caption h1{
font-family: 'Open Sans', sans-serif;
}
.carousel-caption p{
	color: #4e4e4e;
	font-family: 'Open Sans', sans-serif;
	width: 75%;
}
.carousel-caption button{
	background: #74abda;
	color: white;
	width: 30%;
	height: 15%;
	border: 0px;
	font-size: 2vh;
}

.Services{
	text-align: center;
}
.title {
	padding-top: 1.5%;
	margin-bottom: 1.5%;
	overflow: hidden;
	text-align: center;
}
.title span {
	display: inline-block;
	vertical-align: middle;
	font-size: 6vh;
	font-family: 'Open Sans', sans-serif;
}
.title:before,
.title:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15%;
	height: 2px;
	background-color: grey;
	position: relative;
}
.title:before {
	margin-left: -100%;
	left: -14px;
}
.title:after {
	margin-right: -100%;
	right: -14px;
}
.Apple,
.Android,
.Windows{
	text-align: center;
	align-items: center;
	display: inline-block;

}
.Apple h2,
.Android h2,
.Windows h2{
	color:#3674ba;
	font-family: 'Open Sans', sans-serif;
}
.Apple img,
.Android img,
.Windows img{
	width: 30%;
	height: 30%;
	padding-bottom: 2%
}
.Apple p,
.Android p,
.Windows p{
	text-align: center;
	width: 300px;
	font-size: 2vh;
}
.Apple button,
.Android button,
.Windows button{
	width: 35%;
	height: 4vh;
	color:white;
	background: #3674ba;
	border: 0px;
	margin-bottom: 15%;
}
.About{
	background: #D1D1D1;
}
.About h4{
	text-align: left;
	font-size: 36px;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	color:#7c7c7c;
}
.About p{
	text-align: left;
	font-family: myriad-pro, sans-serif;
	font-style: normal;
	width: 100%;
	font-size: 14px;
}
.About h5{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 5vh;
	color:#3674BA;
	margin-top: 11%;
}
.Map img{
	width:100%;
	height: 50%;
}
.progress{
	margin-bottom: 10px;
	height:30px;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 0rem;
	background:#828181;
}
.progress-bar{
	width: 87%;
	text-align: left;
	padding-left: 2%;
	background: #3674BA;

}
.progress-bar-1{
	width: 95%;
	text-align: left;
	padding-left: 2%;
	background: #3674BA;
	color: white;

}
.progress-bar-2{
	width: 80%;
	text-align: left;
	padding-left: 2%;	
	background: #3674BA;
	color: white;
}
.progress-bar-3{
	width: 95%;
	text-align: left;
	padding-left: 2%;
	background: #3674BA;
	color: white;

}
.butt{
	position: relative;
	margin-left: 80%;
	border-radius:0px;
	background-color: #3674ba;
	border-color: #3674ba;
	-webkit-text-fill-color: white; 
	width:20%;
	padding: .375rem .75rem;
	position:relative;
	top:-47px;
	border:0px;
}
input{
	width:100%;
	margin: 5px 0px;
}
textarea{
	width:100%;
	height:118px;
	resize: none;
}
footer{
	padding-top: 1.5%;
	text-align: center;
	font-size:1.75vh;
}

@media all and (max-width: 500px){
.carousel-caption h1{
	font-size: 10px;
}
.carousel-caption p{
	font-size: 5px;
	padding-bottom: 15%;
}
.carousel-indicators{
	padding-left: 60%;
} 
.carousel-indicators li{
	border-radius: 50%;
	width: 5px;
	height: 5px;
}
}
@media all and (min-width: 500px){
.carousel-caption h1{
	font-size: 20px;
}
.carousel-caption p{
	font-size: 15px;
	padding-bottom: 15%;
}
.carousel-indicators{
	padding-left: 60%;
} 
}
